<div data-controller="charts">
  <div class="d-flex justify-content-end mb-3">
    <select data-charts-target="range" data-action="change->charts#changeRange" class="form-select w-auto">
      <option value="week">週</option>
      <option value="month" selected>月</option>
      <option value="year">年</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div data-charts-target="line"></div>
    </div>
    <div class="col-md-6 mb-4">
      <div data-charts-target="pie"></div>
    </div>
    <div class="col-md-6 mb-4">
      <div data-charts-target="bar"></div>
    </div>
  </div>
</div>
