<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="m-0">
    <%= @workout.workout_date %> のトレーニング
  </h2>

  <%= link_to workout_path(@workout),
        data: { turbo_method: :delete, turbo_confirm: "削除しますか？" },
        class: "btn btn-sm btn-outline-danger" do %>
      <i class="bi bi-trash"></i>
    <% end %>
</div>

<hr>

<h3 class="mt-4">セット記録</h3>

<%= link_to "種目を追加", select_exercise_workouts_path(date: @workout.workout_date),
            class: "btn btn-warning mt-2" %>

<div id="set_form_errors"></div>

<div id="workout_sets">
  <%= render "workouts/exercise_sets", exercise_sets: @exercise_sets, workout: @workout %>
</div>
