<% flash.each do |key, message| %>
    <% bs_class = case key
       when "notice" then "alert-dark border-warning text-warning"
       when "alert" then "alert-dark border-danger text-danger"
       else "alert-dark border-secondary text-light"
    end %>
  
    <div class="alert <%= bs_class %> alert-dismissible fade show mt-3 shadow-sm" role="alert">
      <%= message %>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  