<nav class="footer-nav d-md-none fixed-bottom bg-dark text-light border-top border-warning">
  <div class="footer-nav__inner">
    <%= link_to dashboard_calendar_path, class: "text-light #{'active' if current_page?(dashboard_calendar_path)}" do %>
      <i data-lucide="calendar"></i>
      <span>カレンダー</span>
    <% end %>
    <%= link_to dashboard_report_path, class: "text-light #{'active' if current_page?(dashboard_report_path)}" do %>
      <i data-lucide="bar-chart"></i>
      <span>レポート</span>
    <% end %>
    <%= link_to dashboard_avatar_path, class: "text-light #{'active' if current_page?(dashboard_avatar_path)}" do %>
      <i data-lucide="user"></i>
      <span>プロフィール</span>
    <% end %>
    <%= link_to dashboard_setting_path, class: "text-light #{'active' if current_page?(dashboard_setting_path)}" do %>
      <i data-lucide="settings"></i>
      <span>設定</span>
    <% end %>
  </div>
</nav>
