<div class="modal fade" id="help-calendar-modal" tabindex="-1" aria-labelledby="helpCalendarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-light">

      <div class="modal-header border-secondary">
        <h5 class="modal-title" id="helpCalendarModalLabel">
          このカレンダーの見方
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <ul class="mb-0">
          <li>今日の日付はグレーで表示されます。</li>
          <li>ワークアウトが記録されている日は青で表示されます。</li>
          <li>青色の日付をクリックすると、その日のワークアウト記録に移動します。</li>
          <li>カレンダー下の「今日のトレーニングを記録する」から、記録を開始できます。</li>
          <li>日付を選んで、その日のトレーニングを記録することもできます。</li>
        </ul>
      </div>

      <div class="modal-footer border-secondary">
        <button
          type="button"
          class="btn btn-outline-light"
          data-bs-dismiss="modal">
          閉じる
        </button>
      </div>

    </div>
  </div>
</div>
