<div class="modal fade" id="help-calendar-modal" tabindex="-1" aria-labelledby="helpCalendarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="helpCalendarModalLabel">
          このカレンダーの見方
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <!-- 後で説明文を入れる -->
        <p>ここにカレンダーの説明が入ります。</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          閉じる
        </button>
      </div>

    </div>
  </div>
</div>
