<div class="modal fade" id="help-exercise-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-light">

      <div class="modal-header border-secondary">
        <h5 class="modal-title" id="helpExerciseModalLabel">種目について</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">
        <p class="small mb-3">
            ここでは、トレーニングを行う種目を選択します。
        </p>

        <ul class="mb-3">
            <li>
              <strong>部位ごとに種目が表示されます。</strong>
              <p class="mb-0">
                トレーニングしたい部位を基準に、種目を選んでください。
              </p>
            </li>

            <li>
              <strong>「＋種目を追加」から新しい種目を登録できます。</strong>
              <p class="mb-0">
                よく使う種目や、自分用に名前を付けた種目を追加できます。
              </p>
            </li>

            <li>
              <strong>登録した種目は、次回以降も利用できます。</strong>
              <p class="mb-0">
                一度追加した種目は、同じ部位の一覧に表示されます。
              </p>
            </li>

            <li>
              <strong>登録した種目を、編集することも可能です。</strong>
              <p class="mb-0">
                「＋種目を追加」→「種目一覧へ」で登録した種目の編集、削除が可能です。
              </p>
            </li>
        </ul>
      </div>

      <div class="modal-footer border-secondary">
        <button
          type="button"
          class="btn btn-outline-light"
          data-bs-dismiss="modal">
          閉じる
        </button>
      </div>

    </div>
  </div>
</div>
