<div class="container my-3">

  <div class="avatar-section">
    <div class="avatar-background"></div>
    <div class="avatar-canvas-wrapper">
      <div id="avatar-root"></div>
    </div>
  </div>

  <div class="avatar-actions text-end mt-2">
    <%= link_to "プロフィール詳細",
                profiles_path,
                class: "btn btn-primary btn-sm" %>
  </div>
</div>
