<p><%= @email %> 様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>ご利用中のメールアドレスを <%= @resource.unconfirmed_email %> に変更する手続きが進行中です。</p>
<% else %>
  <p>ご利用中のメールアドレスが <%= @resource.email %> に変更されました。</p>
<% end %>

<p>この変更に心当たりがない場合は、速やかにサポートまでご連絡ください。</p>