<h2><%= @body_part.name %> の種目を新規登録</h2>

<%= render "form", exercise: @exercise %>

<div class="mt-3">
  <%= link_to "一覧に戻る", body_part_exercises_path(@body_part),
              class: "btn btn-outline-light" %>
</div>
