<div class="container my-4">
  <div class="card shadow-sm border-secondary">
    <div class="card-body">
    <div id="api-sample-root"></div>

      <h4 class="mb-3 pb-2 border-bottom">設定</h4>

      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent text-light border-secondary">
          <%= link_to "・利用規約", terms_path, class: "text-light text-decoration-none" %>
        </li>
        <li class="list-group-item bg-transparent text-light border-secondary">
          <%= link_to "・プライバシーポリシー", privacy_path, class: "text-light text-decoration-none" %>
        </li>
        <li class="list-group-item bg-transparent text-light border-secondary">
          <%= link_to "・ヘルプ / 使い方", help_path, class: "text-light text-decoration-none" %>
        </li>
      </ul>

    </div>
  </div>
</div>
